* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
body > *{
  margin: 2px auto;
  width: 1200px;
  max-width: 95%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  aside, #lineright {
    display: none;
  }
  #vline {
      background-color: white;
  }
  #logo figure {
      margin-left: auto;
      margin-right: auto;
  }
}

@media (max-width: 767px) {
  #lineleft {
      display: none;
  }    
  #vline {
    display: none;
  }
  #middle, #languages, #trend, #date {
      display: none;
  }
}

